#R
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp

# Output files
*.csv
*.tsv
*.json

# OS
.DS_Store
Thumbs.db

# Working files
**/data/
**/name_files/
**/old/
**/checkpoints

# Allow clustering outputs
!clustering/outputs/*.csv
!clustering/outputs/*.rds

# allow some OV tables
!predicts_ov_table/biodiversity_sites_AEZ_tag.csv
!predicts_ov_table/pd_result.csv
